<%- include('./partials/header') %>
   <!-- <body>
    <img src="https://i.imgur.com/YYJgq90.jpg" alt="">
   </body> -->
<!-- <img id="bg-img" src='https://i.imgur.com/YYJgq90.jpg' alt="background-image"> -->

<!-- <body style="
    background-image: url('https://i.imgur.com/YYJgq90.jpg'); 
    background-size: cover;
"> -->
<body class="index">
    <img src='https://i.imgur.com/YYJgq90.jpg' alt="">
</body>
<%- include('./partials/footer') %>

