<%- include('../partials/header') %>
<!-- <body style="
    background-image: url('https://i.imgur.com/YYJgq90.jpg'); 
    background-size: cover; -->
<!-- "> -->
<h1>Make backgroud orange, have information about the studio here.</h1>
<%- include('../partials/footer') %>

