<%- include('../partials/header') %>
<body style="background-color: orange;">
 <h1>About</h1>
 <p><strong>This page was made for creatives to share, leave reviews and browse for studios if they are in need. A community affair. <br>Special thanks to everyone who assisted with this project. I look forward to contuing to build this project and seeing where it goes.</strong></p>
  <div class="aboutctn">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.studiomatic.co/assets/theme/images/studios/atla-full-6a7c9f1f94535bc5fe636a333147232987d411a332be7d8abb9e2de6b24b28d1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.squarespace-cdn.com/content/v1/5aa887e945776edd83df03cb/1584826999121-6KBK2J4W20ZE52CEXBBW/HOME+Space+1.jpg?format=1000w" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://drexel.edu/~/media/Images/westphal/programs/undergraduate/mip/facilities/studio_a_interior/StudioA_2019_02.ashx?la=en" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.reminetwork.com/wp-content/uploads/filmstudio.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
    
    <!-- <p>Podcasting!</p>
    
    <img src="https://www.studiomatic.co/assets/theme/images/studios/atla-full-6a7c9f1f94535bc5fe636a333147232987d411a332be7d8abb9e2de6b24b28d1.jpg"
        alt="">
 


    <h2>Studio B</h2>
    <p>Rehearsals!</p>
    <img src="https://images.squarespace-cdn.com/content/v1/5aa887e945776edd83df03cb/1584826999121-6KBK2J4W20ZE52CEXBBW/HOME+Space+1.jpg?format=1000w"
        alt="">


    <h2>Studio C</h2>
    <p>Recording/Mix and Master</p>
    <img src="https://drexel.edu/~/media/Images/westphal/programs/undergraduate/mip/facilities/studio_a_interior/StudioA_2019_02.ashx?la=en"
        alt="">


    <h2>Phot and Film</h2>
    <img src="https://www.reminetwork.com/wp-content/uploads/filmstudio.jpg"
        alt="">


    <br> -->
    <%- include('../partials/footer') %>