<%- include('../partials/header') %>
<h2>Studio A</h2>
<p>Podcasting!</p>
<img src="https://www.studiomatic.co/assets/theme/images/studios/atla-full-6a7c9f1f94535bc5fe636a333147232987d411a332be7d8abb9e2de6b24b28d1.jpg" alt="">
<h2>Studio B</h2>
<p>Rehearsals!</p>
<img src="https://images.squarespace-cdn.com/content/v1/5aa887e945776edd83df03cb/1584826999121-6KBK2J4W20ZE52CEXBBW/HOME+Space+1.jpg?format=1000w" alt="">
<h2>Studio C</h2>
<p>Recording/Mix and Master</p>
<img src="https://drexel.edu/~/media/Images/westphal/programs/undergraduate/mip/facilities/studio_a_interior/StudioA_2019_02.ashx?la=en" alt="">
<h2>Phot and Film</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVhRxWf1-hjVkp_a0bSJww9QHCjTq0I3Zurw&usqp=CAU" alt="">
<br>
<%- include('../partials/footer') %>

