<%- include('../partials/header') %>
<h2>Book a studio</h2>
<form action="/" method="POST"></form>

<label>studios</label>
<select name="studio">
    <option value ="Studio A">A Room</option>
    <option value="Studio B">B Room</option>
    <option value="Studio C">C Room</option>
</select>
<button type="submit" value="submit">submit</button>



<%- include('../partials/footer') %>