<%- include('../partials/header')%>
<body style="background-color: orange;">
    

    <h2>Book a studio</h2>
    <form class="studio-form" action="/studios" method="POST">
        <label>Studio Name</label>
        <input type="text" name="name">
        <label>Price</label>
        <input type="number" name="price">
        <label>Image</label>
        <input type="text" name="img">
        <label>Session</label>
        <input type="datetime-local" name="session">
        <label>Description</label>
        <textarea name="description"></textarea>
        <label>Category</label>
        <select name="category">
            <option value="Podcast">Podcast</option>
            <option value="Rehearsal">Rehearsal</option>
            <option value="Recording">Recording</option>
            <option value="Film">Film</option>
        </select>
        <button type="button" class="btn btn-outline-dark">Submit</button>

        <!-- <button type="submit" value="submit">submit</button> -->
    </form>
    <%- include('../partials/footer')%>